<html>
    <head>
        <title>Rock Paper Scissors</title>
    </head>
    <body>
        <header>
            <h1>Rock Paper Scissors</h1>
            <h3>{{page}}</h3>
        </header>

        <main>
            <br>
            <form action="/game/play" method="post">
                <label for='name'>Player name</label>
                <input type="text" name='name' id='name'>
                <br>
                <br>
                <label for='choice'>Player choice</label>
                <input type="text" list='options' name='choice' id='choice' placeholder="Click here to choose!">
                <datalist id='options'>
                    <option value="Rock"></option>
                    <option value="Paper"></option>
                    <option value="Scissors"></option>
                </datalist>
                <br>
                <br>
                <br>
                <input type="submit" value="PLAY!">
            </form>
            <br>
            <a href = '/rules'>REVIEW THE RULES</a>
            <br>
            <br>
            <a href= '/'>BACK TO WELCOME PAGE</a>
        </main>

        <footer>

        </footer>
    </body>
</html>