{% extends "base.html" %}
{% block content %}

<p>A player who decides to play rock will beat another player who has chosen scissors ("rock crushes scissors" or sometimes "blunts scissors"), but will lose to one who has played paper ("paper covers rock"); a play of paper will lose to a play of scissors ("scissors cuts paper").</p>
<a href="https://en.wikipedia.org/wiki/Rock_paper_scissors#:~:text=A%20player%20who%20decides%20to,%22scissors%20cuts%20paper%22)." target="_blank">Link to rules on Wikipedia</a>
<br>
<br>
<br>
<img src="https://raw.githubusercontent.com/codeclan/e45_classnotes/main/week_03/weekend_homeowrk/Rock-paper-scissors.svg.png?token=AQ32T7KJVTKMVPLR3VXEUDS72O5EA" width="500" alt='Image showing the rules of the game'>
<br>
<br>
<br>
<a href='/game'> PLAY THE GAME!</a>
<br>
<br>
<a href='/'>BACK TO WELCOME PAGE</a>

{% endblock %}